.input-group {
  position: relative;
}

.MuiInputBase-root::before {
  border-bottom: none !important;
}

.input {
  height: 56px;
  /* border: solid 2px #f5f5f7; */
  border: solid 2px var(--gray-color-primary);
  border-radius: 10px;
  background-color: #f5f5f7;
  padding: 15px;
  font-size: 16px;
  color: #050505;
  transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-right: 45px;
}

.input:focus {
  outline: none;
  border: solid 2px var(--gray-color-primary);
  background-color: var(--white-color);
}

/* input error */
.input-error {
  border: solid 2px var(--red-color-primary);
  color: var(--red-color-primary);
}
.input-error:focus {
  border: solid 2px var(--red-color-primary);
  color: var(--red-color-primary);
}

.input:focus + .user-label,
.input:focus-within + .user-label {
  transform: translate(20px, -190%) scale(0.9);
  background-color: var(--white-color);
  padding: 0 0.2em;
  color: #000000;
  border-radius: 8px;
  /* font-size: 13px; */
}

.user-label {
  position: absolute;
  right: 43px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--gray-color-primary);
  pointer-events: none;
  font-size: 12px;
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-label-edit {
  position: absolute;
  background-color: var(--white-color);
  padding: 0 0.2em;
  color: #000000;
  bottom: 55px;
  right: 15px;
  font-size: 12px;
}

.user-label-typed {
  background-color: var(--white-color);
  padding: 0 0.2em;
  color: #000000;
}

/* .user-label-error {
  top: 50%;
} */

.user-label-typed {
  transform: translate(20px, -190%) scale(0.9);
  background-color: var(--white-color);
  padding: 0 0.2em;
  color: #000000;
}
/* .user-label-typed-focus {
  color: var(--red-color-primary);
} */

.input-typed {
  height: 56px;
  outline: none;
  border: solid 2px var(--gray-color-primary);
  background-color: var(--white-color);
  border-radius: 10px;
  padding: 15px;
  font-size: 14px;
  color: #050505;
  transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-right: 45px;
}

@media (max-width: 1280px) {
  .user-label {
    right: 34px;
    /* transform: translateY(-36%); */
    font-size: 12px;
    /* transition: none; Remove transition for smaller screens */
  }
}
