.HeroMobile {
  background-image: url("/images/home/hero/heroMobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  background-color: #1f2138;
}
.Hero {
  background-image: url("/images/home/hero/hero.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}
